<div class="main-container">
    <div class="grid-container">
        <button 

        *ngFor="let value of values; let index = index; let even = even" 
        class="grid-item" (click)="onClick(index); banker.roundCalculator()" 
        [ngStyle]="{
            'color': clickedBoxes[index].isClicked ? '#252525': '#797979',
            'background-color': clickedBoxes[index].isClicked ? '#e7e7e7': '#d3d3d3'}">

            <app-moneybox [amount]="value"></app-moneybox>

        </button>

    </div>
    <app-banker #banker></app-banker>
</div>



